$cBlack: black;
$cWhite: white;

.mobile-menu-icon {
	background-color: transparent;
	border: none;
	cursor: pointer;

	// フォーカス時に青い枠線が出るのを防ぐ
	outline: none !important;

	> span {
		background-color: $cBlack;
		width: 35px;
		height: 2px;
		display: block;
		margin-bottom: 9px;

		// transformを適用
		transition: transform 1.0s;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.menu-open {
	background-color: $cBlack;

	.mobile-menu-icon {
		> span {
			background-color: $cWhite;

			// 最終形態を確認してから、transitionを適用するといった形にする。
			&:nth-child(1) {
				//transform: translateY(11px) rotate(135deg);
				transform: translateY(11px) rotate(405deg);

				// transition-delayで開始時刻を遅らせて複雑にする
				//transition-delay: 200ms;
			}

			&:nth-child(2) {
				transform: translateX(-18px) scaleX(0);
				//transition-delay: 100ms;
			}

			&:nth-child(3) {
				//transform: translateY(-11px) rotate(-135deg);
				transform: translateY(-11px) rotate(-405deg);
				//transition-delay: 400ms;
			}

			@for $i from 1 through 3 {
				&:nth-child(#{$i}) {
					transition-delay: 50ms * $i;
				}
			}
		}
	}
}